In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"dados\\cinemaTicket_Ref.csv")
df

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,ticket_use,capacity,date,month,quarter,day
0,1492,304,3900000,26,0,4,4.26,150000.0,26,610.328638,2018-05-05,5,2,5
1,1492,352,3360000,42,0,5,8.08,80000.0,42,519.801980,2018-05-05,5,2,5
2,1492,489,2560000,32,0,4,20.00,80000.0,32,160.000000,2018-05-05,5,2,5
3,1492,429,1200000,12,0,1,11.01,100000.0,12,108.991826,2018-05-05,5,2,5
4,1492,524,1200000,15,0,3,16.67,80000.0,15,89.982004,2018-05-05,5,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142519,1569,495,1320000,22,0,2,3.86,60000.0,22,569.948187,2018-11-04,11,4,4
142520,1569,474,1200000,15,0,1,65.22,80000.0,15,22.999080,2018-11-04,11,4,4
142521,1569,524,1060000,8,0,3,9.20,132500.0,8,86.956522,2018-11-04,11,4,4
142522,1569,529,600000,5,0,2,5.00,120000.0,5,100.000000,2018-11-04,11,4,4
142523,1569,486,250000,5,0,1,1.79,50000.0,5,279.329609,2018-11-04,11,4,4

In [3]:
# Quais são as variáveis (colunas) neste conjunto de dados e qual é o tipo de cada uma? 

# Mostrar o tipo dos dados de cada coluna

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142524 entries, 0 to 142523
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   film_code     142524 non-null  int64
 1   cinema_code   142524 non-null  int64
 2   total_sales   142524 non-null  int64
 3   tickets_sold  142524 non-null  int64
 4   tickets_out   142524 non-null  int64
 5   show_time     142524 non-null  int64
 6   occu_perc     142399 non-null  float64
 7   ticket_price  142524 non-null  float64
 8   ticket_use    142524 non-null  int64
 9   capacity      142399 non-null  float64
 10  date          142524 non-null  object
 11  month         142524 non-null  int64
 12  quarter       142524 non-null  int64
 13  day           142524 non-null  int64
dtypes: float64(3), int64(10), object(1)
memory usage: 15.2+ MB

In [4]:
# Pergunta: Há valores ausentes no conjunto de dados? Explique-os

# Mostrando a quantidade de NaN (valores ausentes) em cada coluna dataset
df.isna().sum()

film_code         0
cinema_code       0
total_sales       0
tickets_sold      0
tickets_out       0
show_time         0
occu_perc       125
ticket_price      0
ticket_use        0
capacity        125
date              0
month             0
quarter           0
day               0
dtype: int64

In [5]:
# Existem valores nulos (ausentes) em duas colunas que são correlacionadas:
# Capacidade e porcentagem de ocupação. É provável que a coluna capacidade esteja com valor ausente e cause a ausência no valor da porcentagem 
# (Impossibilidade de dividir por zero)

In [6]:
#Checando se o que ocorreu foi isso mesmo

qtde_valores_validos_capacity_df_nan = len(df[df.isna().any(axis=1)]['capacity'].value_counts())
print(f'A quantidade de valores válidos na coluna Capacity das linhas que tem valores ausentes é de: {qtde_valores_validos_capacity_df_nan}')

# Ou seja, a teoria está correta. A falta de valores em capacity está gerando valores nulos nas duas colunas

A quantidade de valores válidos na coluna Capacity das linhas que tem valores ausentes é de: 0

In [7]:
quantidade_linhas_nulo = df.isna().any(axis=1).sum()


print(f'A porcentagem de linhas de dados nulas dento do df é de {(quantidade_linhas_nulo / len(df))*100:.2f} %')

A porcentagem de linhas de dados nulas dento do df é de 0.09 %

In [8]:
# Pela quantidade irrisória de linhas de dados com valores nulos (0,09% do dataset), é comum simplesmente retirá-las do dataset 
# para trabalhar com as outras linhas com valores válidos. 
# Uma outra forma de trabalhar com esses dados seria buscar se existem informações sobre a capacidade desse cinema no dataset e preencher
# as linhas com capacidade nula com a capacidade correta ou esperada (média ou mediana dos dados históricos)

In [20]:
# # Essa parte aqui é se a gnt quiser desenvolver o pensamento de preenchimento dos NaNs que pus acima
# # (Não finalizei, é só o começo)

# df_nan = df[df.isna().any(axis=1)]

# # Separando quais cinemas estão sem dados de capacidade
# cinemas_sem_capacidade = df_nan['cinema_code'].unique().tolist()

# df_sem_nan = df.dropna()
# df_sem_nan.isna().sum()

# df_sem_nan[df_sem_nan['cinema_code'].isin(cinemas_sem_capacidade)].sort_values(by='cinema_code', ascending=True).head(50)

# # faz um groupby e calcula média ou mediana e depois aplica no df_nan

In [14]:
# Dropar os valores NaN para análises

df.dropna(inplace=True)

In [12]:
colunas_dataset = df.columns.tolist()
colunas_dataset

['film_code',
 'cinema_code',
 'total_sales',
 'tickets_sold',
 'tickets_out',
 'show_time',
 'occu_perc',
 'ticket_price',
 'ticket_use',
 'capacity',
 'date',
 'month',
 'quarter',
 'day']

In [ ]:
# Pergunta: Qual é a estatística descritiva básica para as variáveis numéricas, como
# média, mediana, mínimo, máximo e desvio padrão?

# As análises vão depender do que você vai entender que é o objeto da análise
# Se você considerar que o filme especificamente é o objeto da análise, terá que fazer um groupby nele, o mesmo para cinema_code
# Para analisar quais salas de cinema tem melhor perfomance em venda, diferença de preços. 
# Pode fazer o groupby por data tbm.
# Acredito que por isso ele fale em storytelling com os dados, será uma escolha nossa.


variaveis = ['film_code',
 'cinema_code',
 'total_sales',
 'tickets_sold',
 'tickets_out',
 'show_time',
 'occu_perc',
 'ticket_price',
 'ticket_use',
 'capacity',
 'date',
 'month',
 'quarter',
 'day']

In [19]:
print(f"""
    Quantidade de filmes únicos:{df['film_code'].nunique()}
    Quantidade de cinemas únicos: {df['cinema_code'].nunique()}
    Quantidade de datas únicas: {df['date'].nunique()}
""")

    Quantidade de filmes únicos:48
    Quantidade de cinemas únicos: 244
    Quantidade de datas únicas: 234

In [ ]:
# Se quiser ignorar essa parte, dá para fazer uma análise no aspecto geral, sobre capacidade e preço de cada sessão 
# porém essa análise vai permitir duas ou mais análises para a mesma sala ou mesmo filme no mesmo dia.

In [25]:
# Criando uma função para ter os dados descritivos de cada coluna
# Retirei as colunas film_code, cinema_code e date
colunas_a_analisar = [
 'total_sales',
 'tickets_sold',
 'tickets_out',
 'show_time',
 'occu_perc',
 'ticket_price',
 'ticket_use',
 'capacity',
 'month',
 'quarter',
 'day']
 

def estatistica_descritiva_por_coluna(coluna):
    print(f"Estatística descritiva da coluna: {coluna}")

    df_estatistica_descritiva = df[coluna].describe()
    print(df_estatistica_descritiva)
    print()
    print("*=*"*10)
    print()

In [26]:
for coluna in colunas_a_analisar:
    estatistica_descritiva_por_coluna(coluna)

Estatística descritiva da coluna: total_sales
count    1.423990e+05
mean     1.234773e+07
std      3.063471e+07
min      2.000000e+04
25%      1.280000e+06
50%      3.720000e+06
75%      1.112000e+07
max      1.262820e+09
Name: total_sales, dtype: float64

*=**=**=**=**=**=**=**=**=**=*

Estatística descritiva da coluna: tickets_sold
count    142399.000000
mean        140.177080
std         279.709174
min           1.000000
25%          18.000000
50%          50.000000
75%         143.000000
max        8499.000000
Name: tickets_sold, dtype: float64

*=**=**=**=**=**=**=**=**=**=*

Estatística descritiva da coluna: tickets_out
count    142399.000000
mean          0.237389
std           2.924231
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         311.000000
Name: tickets_out, dtype: float64

*=**=**=**=**=**=**=**=**=**=*

Estatística descritiva da coluna: show_time
count    142399.000000
mean          3.933883
std           3.056853
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max          60.000000
Name: show_time, dtype: float64

*=**=**=**=**=**=**=**=**=**=*

Estatística descritiva da coluna: occu_perc
count    142399.000000
mean         19.965986
std          22.653445
min           0.000000
25%           3.750000
50%          10.350000
75%          28.210000
max         147.500000
Name: occu_perc, dtype: float64

*=**=**=**=**=**=**=**=**=**=*

Estatística descritiva da coluna: ticket_price
count    142399.000000
mean      81243.435624
std       33237.373278
min         483.870968
25%       60000.000000
50%       79459.459459
75%      100000.000000
max      700000.000000
Name: ticket_price, dtype: float64

*=**=**=**=**=**=**=**=**=**=*

Estatística descritiva da coluna: ticket_use
count    142399.000000
mean        139.939691
std         279.515104
min        -219.000000
25%          18.000000
50%          50.000000
75%         143.000000
max        8499.000000
Name: ticket_use, dtype: float64

*=**=**=**=**=**=**=**=**=**=*

Estatística descritiva da coluna: capacity
count    142399.000000
mean        854.723605
std         953.118103
min          -2.000000
25%         276.994486
50%         525.714286
75%        1038.961039
max        9692.097160
Name: capacity, dtype: float64

*=**=**=**=**=**=**=**=**=**=*

Estatística descritiva da coluna: month
count    142399.000000
mean          6.777218
std           2.195050
min           2.000000
25%           5.000000
50%           7.000000
75%           9.000000
max          11.000000
Name: month, dtype: float64

*=**=**=**=**=**=**=**=**=**=*

Estatística descritiva da coluna: quarter
count    142399.000000
mean          2.634864
std           0.809412
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           4.000000
Name: quarter, dtype: float64

*=**=**=**=**=**=**=**=**=**=*

Estatística descritiva da coluna: day
count    142399.000000
mean         16.112220
std           8.948638
min           1.000000
25%           8.000000
50%          16.000000
75%          24.000000
max          31.000000
Name: day, dtype: float64

*=**=**=**=**=**=**=**=**=**=*